.btn {
  display: inline-block;
  background-color: $gold;
  color: $dark;
  width: 10em;
  margin: auto 3px;
  padding: 1.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 3px 4px 7px rgba($dark, 0.3);
  transition: all 1s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba($dark, 0.75);
    transition: opacity 1s ease-in-out;
  }

  &:hover {
    background-color: $dark;
    color: $gold;
    transform: scale(0.95);
  }

  &:hover::after {
    opacity: 1;
    transform: scale(0.95);
  }
}
.postBtn {
  @extend .btn;
  width: 4em;
  padding: 5px;
  font-size: 1rem;
}

.btn-log {
  width: 5em;
  margin: 0;
  padding: 2px;
  font-size: 1rem;
}
